<div class="forms">
  <div class="inputs">
    <form class="example-form" [formGroup]="canalForm">
      <div class="title">
        <h4>Canal</h4>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="canal" [(ngModel)]="canalSelected">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let canal of canais" [value]="canal">
              {{canal}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>keyboard_arrow_down</mat-icon> -->
        </mat-form-field>
      </div>
      <div class="title">
        <h4>Modalidade</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Selecione a modalidade" formControlName="modalidade">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let canal of canais" [value]="canal">
              {{canal}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="inputs fila" [class.disabled]="filaIsDisabled">
    <form class="example-form" [formGroup]="filaForm">
      <div class="title">
        <h4>Fila</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Selecione a fila" formControlName="fila">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let canal of canais" [value]="canal">
              {{canal}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="title">
        <h4 *ngIf="flow2">Resumo da fila</h4>
        <p *ngIf="flow2">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
      </div>
    </form>
  </div>
  <div class="inputs" [class.disabled]="cpfIsDisabled" #localizar>
    <form class="example-form" [formGroup]="cpfForm">
      <div class="title">
        <h4>cpf ou cnpj</h4>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="cpf" placeholder="Ex.: 123.123.123-10">
        </mat-form-field>
      </div>
      <div class="localizar">
        <button mat-raised-button color="primary" matTooltip="Localizar o usuário"
          *ngIf="!localizando" [disabled]="podeLocalizar" (click)="localizarUser()">
          Localizar
        </button>
        <mat-spinner class="spinner" color="primary" *ngIf="localizando" diameter="30" strokeWidth="5"></mat-spinner>
      </div>
    </form>
  </div>
</div>

<div class="flows" [class.isresult]="isResult">
  <div class="flow" *ngIf="!isResult">
    <div class="passos">
      <div class="passo" [style.color]="filaIsDisabled ? '#33CCCC' : '#191919'">
        <p>Comece selecionando o canal e modalidades adequados</p>
      </div>
      <div class="passo passoFila" [style.color]="cpfIsDisabled ? '#33CCCC' : '#191919'" *ngIf="!filaIsDisabled">
        <p>Selecione a fila adequada</p>
      </div>
      <div class="passo passoCpf" [style.color]="podeLocalizar ? '#33CCCC' : '#191919'" *ngIf="!cpfIsDisabled">
        <p>Digite o cpf ou cnpj</p>
      </div>
    </div>
    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </div>

  <div class="result" *ngIf="isResult">
    <div class="result-title">
      <h3>Resultado</h3>
    </div>
    <div class="result-body">
      <wff-grid-list [dados]='dadosPessoais' class="result-body-list"></wff-grid-list>
    </div>
    <div class="result-processar">
        <button mat-raised-button color="primary" matTooltip="Prosseguir"
        (click)="localizarUser()">
        Prosseguir
      </button>
      <!-- <mat-spinner class="spinner" color="warn" *ngIf="localizando" diameter="30" strokeWidth="5"></mat-spinner> -->
    </div>
  </div>
</div>