.forms {
    margin: 0 auto;
    margin-top: 10.9px;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 191px;
    display: flex;
    position: relative;
    border: 1px solid #d8d8d8;
}

.result {
    min-width: 98%;
    /* min-height: 45vh;
    max-height: 45vh; */
    max-height: 180px;
    min-height: 180px;
    margin: 0 auto;
    /* margin-top: 30.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .result-body {
    min-width: 100%;
    border-radius: 4px;
    /* min-height: 23vh; */
    max-height: 180px;
    min-height: 180px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-between;
}

.result .result-body-list {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}