<mat-toolbar color="primary" class="toolbar">
  <div class="header">
    <div class="workflow">
      <div class="image-logo">
        <img src="assets/img/banco-santander-logo.png" alt="Banco Santander">
      </div>
      <div class="line-2-copy"></div>
      <div class="name">
        <h1>Workflow de Fraude</h1>
      </div>
    </div>
    <div class="user">
      <h2>Produtividade</h2>
      <div class="line-2-copy"></div>
      <h2>Relatórios</h2>
      <div class="line-2-copy"></div>
      <div class="image-user">
        <!-- <img src="assets/img/user-icon.png" alt="Usuário"> -->
        <p>LK</p>
      </div>
    </div>
  </div>
</mat-toolbar>