/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 54px; /* altura do seu footer */
    background-color: #f9f9f9;
    overflow-y: scroll;
}