<div class="dado dados1">
  <ul class="tile">
    <li class="grid" [@dadosAppeared]="dadosState">
      <h4>Nome</h4>
      <p>{{dados.nome}}</p>
    </li>
    <li class="grid" [@dadosAppeared]="dadosState">
      <h4>Segmento</h4>
      <p *ngIf="!isEdit">{{dados.segmento}}</p>
      <mat-form-field class="example-full-width" *ngIf="isEdit">
        <input matInput [(ngModel)]="dados.segmento">
      </mat-form-field>
    </li>
    <li class="grid" [@dadosAppeared]="dadosState">
      <h4>{{ documento.nome }}</h4>
      <p *ngIf="!isEdit">{{documento.numero}}</p>
      <mat-form-field class="example-full-width" *ngIf="isEdit">
        <input matInput [(ngModel)]="documento.numero">
      </mat-form-field>
    </li>
    <li class="grid" [@dadosAppeared]="dadosState">
      <h4>Pernumper</h4>
      <p *ngIf="!isEdit">{{dados.pernumper}}</p>
      <mat-form-field class="example-full-width" *ngIf="isEdit">
        <input matInput [(ngModel)]="dados.pernumper">
      </mat-form-field>
    </li>
  </ul>
</div>
<div class="dado dados2">
  <!-- <div class="dados-right"> -->
    <ul class="tile">
      <li class="grid" [@dadosAppeared]="dadosState">
        <h4>Telefones</h4>
        <p *ngFor="let tel of dados.telefones">{{tel}}</p>
      </li>
      <li class="grid" [@dadosAppeared]="dadosState">
        <h4>Emails</h4>
        <p *ngFor="let email of dados.emails">{{email}}</p>
      </li>
      <li class="grid conta" [@dadosAppeared]="dadosState">
        <h4>Conta e agência selecionada</h4>
        <p *ngIf="!isEdit && dados.cartaoSelecionada">{{ dados.cartaoSelecionada.agencia }} {{ dados.cartaoSelecionada.conta }}</p>
        <table class="example-full-width" cellspacing="0" *ngIf="isEdit && dados.cartaoSelecionada"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="dados.cartaoSelecionada.agencia">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="dados.cartaoSelecionada.conta">
          </mat-form-field></td>
        </tr></table>
      </li>
      <li class="grid conta" [@dadosAppeared]="dadosState">
        <button mat-raised-button color="primary" matTooltip="Corrigir os Dados"
          (click)="alterarDados()" *ngIf="!isEdit">
          <mat-icon matSuffix class="icon">mode_edit</mat-icon>
          Atualizar dados
        </button>
        <button mat-raised-button color="primary" matTooltip="Corrigir os Dados"
          (click)="salvarDados()" *ngIf="isEdit">
          <mat-icon matSuffix class="icon">mode_edit</mat-icon>
          Salvar alterações
        </button>
      </li>
    </ul>
  <!-- </div> -->
  <!-- <div class="dados-right">
    <ul class="tile" *ngIf="buttonCorrigirDados">
      <li class="grid corrigir" [@dadosAppeared]="dadosState">
        <h4>Conta selecionada</h4>
        <p>Corrente 1231</p>
      </li>
      <li class="grid corrigir" [@dadosAppeared]="dadosState">
        <button mat-raised-button color="primary" matTooltip="Corrigir os Dados"
          (click)="corrigirDados()">
          <mat-icon matSuffix class="icon">mode_edit</mat-icon>
          Atualizar dados
        </button>
      </li>
    </ul>
  </div> -->
</div>